$green-color: #035755;
$green-light-color: #a4cec0;
$gray-color: #4b4f51;
$orange-color: #fa5652;
$pink-color: #fee6e5;
$light-pink-color: #fff9f9;
$smooth: all 0.3s ease-in;
$shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.2);
