<footer>
    <table class="table">
        <tbody>
            <tr>
                <td colspan="2">
                    <div class="title-contact-us">Liên hệ với chúng tôi <span>(Hỗ trợ 24/7)</span></div>
                    <ul class="footer-ul-hotline">
                        <li>Đặt vé máy bay: <a href="tel:19004798">1900 4798 </a></li>

                        <li>Đặt Tour du lịch: <a href="tel:19003398">1900 3398 </a></li>

                        <li>Đặt phòng khách sạn: <a href="tel:19004698">1900 4698 </a></li>

                        <li>Tư vấn xin Visa: <a href="tel:19003498">1900 3498 </a></li>
                        <li>
                            <div>Tổng đài hỗ trợ gọi từ nước ngoài về Việt Nam</div>
                            <img src="https://data.vietnambooking.com/common/icon/icon_flag_vn.png" alt="flag vn" />
                            <a href="tel:02873036167"> +8428 7303 6167 </a>
                        </li>
                    </ul>
                </td>

                <td>
                    <div class="title-box"><h4>Về chúng tôi</h4></div>
                    <ul>
                        <li>
                            <a href="#"><h5>Giới thiệu</h5></a>
                        </li>
                        <li>
                            <a href="#"><h5>Liên hệ</h5></a>
                        </li>
                        <li>
                            <a href="#"><h5>Truyền thông</h5></a>
                        </li>
                        <li>
                            <a href="#"><h5>Các đơn vị hợp tác</h5></a>
                        </li>
                        <li>
                            <a href="#"><h5>Chính sách bảo mật</h5></a>
                        </li>
                        <li>
                            <a href="#"><h5>Điều khoản sử dụng</h5></a>
                        </li>
                    </ul>
                </td>

                <td class="align-top" style="width: 180px">
                    <div class="title-box"><h4>Dịch vụ</h4></div>
                    <ul>
                        <li>
                            <a href="#"><h5>Tour trong nước</h5></a>
                        </li>
                        <li>
                            <a href="#"><h5>Tour nước ngoài</h5></a>
                        </li>
                        <li>
                            <a href="#"><h5>Combo tiết kiệm</h5></a>
                        </li>
                        <li>
                            <a href="#"><h5>Visa</h5></a>
                        </li>
                    </ul>
                </td>

                <td>
                    <div class="title-box"><h4>Khác</h4></div>
                    <ul>
                        <li>
                            <a href="#"><h5>Tuyển dụng</h5></a>
                        </li>
                        <li>
                            <a href="#"><h5>Xem lại đơn hàng</h5></a>
                        </li>
                        <li>
                            <a href="#"><h5>Hướng dẫn thanh toán</h5></a>
                        </li>
                        <li>
                            <a href="#"><h5>Chăm sóc khách hàng</h5></a>
                        </li>
                        <li>
                            <a href="#"><h5>Đăng ký nhận bản tin</h5></a>
                        </li>
                        <li>
                            <a href="#"><h5>Đăng ký đối tác</h5></a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</footer>
