<!-- Overlay -->
<section id="overlay"></section>
<!-- Header -->
<header class="container">
    <div class="wrapper">
        <nav class="navbar">
            <!-- Logo -->
            <div class="navbar__logo">
                <img src="/img/logo.svg" alt="logo" />
            </div>
            <!-- Links -->
            <ul class="navbar__links">
                <li class="navbar__link"><a href="/">Trang chủ</a></li>
                <li class="navbar__link"><a href="/tour">Tours</a></li>
                <li class="navbar__link"><a href="/blog">Blogs</a></li>
                <li class="navbar__link"><a href="/contact">Liên hệ</a></li>
                <a href="/user/login" id="accountLink"><button class="navbar__btn">Tài khoản</button></a>
            </ul>
            <!-- Icon -->
            <div class="navbar__ham">
                <div class="navbar__icon"></div>
            </div>
        </nav>
    </div>
</header>
<script>
    const $ = document.querySelector.bind(document);
    const $$ = document.querySelectorAll.bind(document);

    const menu = $('.navbar__links');
    const menuIcon = $('.navbar__icon');
    const menuBtn = $('.navbar__ham');
    const overlay = $('#overlay');

    menuBtn.addEventListener('click', () => {
        menuIcon.classList.toggle('open');
        menu.classList.toggle('navbar__open');
        overlay.classList.toggle('show');
    });

    overlay.addEventListener('click', () => {
        overlay.classList.toggle('show');
        menuIcon.classList.toggle('open');
        menu.classList.toggle('navbar__open');
    });

    // Lấy thông tin trạng thái đăng nhập từ server
    fetch('/user/check-login')
        .then(response => response.json())
        .then(data => {
            const isLoggedIn = data.isLoggedIn;
            const accountBtn = document.querySelector('.navbar__btn');
            const accountLink = document.getElementById('accountLink');

            // Nếu đã đăng nhập, hiển thị nút Đăng xuất và ngược lại
            if (isLoggedIn) {
                accountBtn.textContent = 'Đăng xuất';
                accountLink.href = '/user/logout';
            } else {
                accountBtn.textContent = 'Tài khoản';
                accountLink.href = '/user/login';
            }
        })
        .catch(error => {
            console.error('Error checking login status:', error);
        });
</script>

