<div class="col-xs-12 search-form">
    <div class="row">
        <div class="col-xs-12 no-padding mb-4">
            <div class="input-icon">
                <i class="fa-solid fa-location-dot"></i>
            </div>
            <span>
                <input
                    type="text"
                    class="form-control search-input"
                    placeholder="Bạn muốn đi đâu?"
                    data-bs-container="body"
                    data-bs-toggle="popover"
                    data-bs-placement="bottom"
                    data-bs-content="Bottom popover"
                />
            </span>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-xs-12 col-md-5 field">
            <div class="input-icon">
                <i class="fa-regular fa-calendar-days"></i>
            </div>
            <div class="field__content">
                <p class="field__text" id="DateOfWeekCheckinStr">Thứ sáu</p>
                <p class="field__desc" id="DateCheckinStr">08-03-2024</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-5 field">
            <div class="input-icon">
                <i class="fa-solid fa-plane-departure"></i>
            </div>
            <div class="field__content">
                <p class="field__text">Khởi hành từ</p>
                <p class="field__desc">Hồ Chí Minh</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-2">
            <button type="button" class="btn btn-search">Tìm kiếm</button>
        </div>
    </div>
</div>
