<div class="card mb-3">
    <div class="card-header fs-3 fw-bold">Địa điểm HOT</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#">Hà Giang</a></li>
        <li class="list-group-item"><a href="#">Đà Nẵng</a></li>
        <li class="list-group-item"><a href="#">Nha Trang</a></li>
    </ul>
</div>

<div class="card">
    <div class="card-header fs-3 fw-bold">Loại Tours</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#">Trọn gói</a></li>
        <li class="list-group-item"><a href="#">Daily tours</a></li>
        <li class="list-group-item"><a href="#">Tour land</a></li>
    </ul>
</div>
