<%- include('../layout/header'); -%>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                ><img src="<%= places.img %>" class="card-img-top" />
                <div class="card-body">
                    <h4 class="card-title"><%= places.name %></h4>
                </div>
                >
            </div>
        </div>
    </div>
</div>

<%- include('../layout/footer'); -%>
