<article class="news__list__item card card-full hover-a pt-5 pb-5">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="news__list__item__image-wrapper">
                <a
                    title="Lễ 30/4 cùng gia đình khám phá hết công viên giải trí nổi tiếng nhất Nhật Bản"
                    class=""
                    href=""
                    ><img
                        src="https://media.vietravel.com/images/news/cong-vien-nhat-ban-00.png"
                        class="img-responsive pic-news-l"
                        loading="lazy"
                        alt="Lễ 30/4 cùng gia đình khám phá hết công viên giải trí nổi tiếng nhất Nhật Bản"
                /></a>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="card-body">
                <h2 class="card-title h2 h3-sm h2-md fw-bold mb-3">
                    <a
                        title="Lễ 30/4 cùng gia đình khám phá hết công viên giải trí nổi tiếng nhất Nhật Bản"
                        class="dot-dot cut-name"
                        href=""
                        >Lễ 30/4 cùng gia đình khám phá hết công viên giải trí nổi tiếng nhất Nhật Bản</a
                    >
                </h2>
                <div class="card-text mb-2 text-muted small mb-3">
                    <span class="d-none d-sm-inline me-1"
                        ><span class="news__new-thread__category fw-bold active">Tin du lịch</span> -
                        09/04/2024</span
                    ><time datetime="16:27"> </time>
                </div>
                <p class="card-text">
                    Nhật Bản - đất nước “mặt trời mọc” với vô vàn điều thú vị, với cảnh sắc thiên nhiên diệu kỳ, những
                    điểm tham quan hấp dẫn, ẩm thực đặc sắc và đặc biệt là những điểm vui chơi giải trí hàng đầu thế
                    giới. Dịp lễ 30/4 - 1/5 sắp tới, bạn hãy cùng gia đình nhỏ của mình ghé thăm những công viên giải
                    trí nổi tiếng nhất Nhật Bản nhé.
                </p>
            </div>
        </div>
    </div>
</article>

<article class="news__list__item card card-full hover-a pt-5 pb-5">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="news__list__item__image-wrapper">
                <a
                    title="Lễ 30/4 cùng gia đình khám phá hết công viên giải trí nổi tiếng nhất Nhật Bản"
                    class=""
                    href=""
                    ><img
                        src="https://media.vietravel.com/images/news/cong-vien-nhat-ban-00.png"
                        class="img-responsive pic-news-l"
                        loading="lazy"
                        alt="Lễ 30/4 cùng gia đình khám phá hết công viên giải trí nổi tiếng nhất Nhật Bản"
                /></a>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="card-body">
                <h2 class="card-title h2 h3-sm h2-md fw-bold mb-3">
                    <a
                        title="Lễ 30/4 cùng gia đình khám phá hết công viên giải trí nổi tiếng nhất Nhật Bản"
                        class="dot-dot cut-name"
                        href=""
                        >Lễ 30/4 cùng gia đình khám phá hết công viên giải trí nổi tiếng nhất Nhật Bản</a
                    >
                </h2>
                <div class="card-text mb-2 text-muted small mb-3">
                    <span class="d-none d-sm-inline me-1"
                        ><span class="news__new-thread__category fw-bold active">Tin du lịch</span> -
                        09/04/2024</span
                    ><time datetime="16:27"> </time>
                </div>
                <p class="card-text">
                    Nhật Bản - đất nước “mặt trời mọc” với vô vàn điều thú vị, với cảnh sắc thiên nhiên diệu kỳ, những
                    điểm tham quan hấp dẫn, ẩm thực đặc sắc và đặc biệt là những điểm vui chơi giải trí hàng đầu thế
                    giới. Dịp lễ 30/4 - 1/5 sắp tới, bạn hãy cùng gia đình nhỏ của mình ghé thăm những công viên giải
                    trí nổi tiếng nhất Nhật Bản nhé.
                </p>
            </div>
        </div>
    </div>
</article>
