<div class="page-title" style="background: no-repeat center/100% url('/img/banner2.jpg'); height: 300px">
    <div class="background-desc">Đặt tour</div>
</div>
<div class="container ps-5 pe-5 mt-5 main-content">
    <div class="row progress-wizard" style="border-bottom: 0">
        <div class="col-sm-3 col-xs-12 progress-wizard-step complete">
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a href="javascript:void(0)" class="progress-wizard-dot">
                <span style="font-size: 20px">1</span>. Chọn dịch vụ
            </a>
        </div>
        <div class="col-sm-3 col-xs-12 progress-wizard-step active">
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a href="javascript:void(0)" class="progress-wizard-dot">
                <span style="font-size: 20px">2</span>. Nhập thông tin hành khách
            </a>
        </div>
        <div class="col-sm-3 col-xs-12 progress-wizard-step disabled">
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a href="javascript:void(0)" class="progress-wizard-dot">
                <span style="font-size: 20px">3</span>. Thanh toán
            </a>
        </div>
        <div class="col-sm-3 col-xs-12 progress-wizard-step disabled">
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a href="javascript:void(0)" class="progress-wizard-dot">
                <span style="font-size: 20px">4</span>. Xác nhận
            </a>
        </div>
    </div>
</div>
